.form {
    width: 425px;
    height: 475px;
    margin: 10px;
    background: #3AD886;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
}

.form img {
    border: 1px solid #AB2A19;
    height: 150px;
}

.inputs {
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs input {
    width: 375px;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.form-buttons button {
    height: 35px;
    border-radius: 4px;
    background: #ED6B5A;
}
