.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.app-header {
  width: 100%;
  background: #AB2A19;
  
}

.dash {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
